In [156]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [157]:
#import and check data

In [158]:
data = pd.read_csv('datasets/train_with_dummies.csv')
test = pd.read_csv('datasets/test_with_dummies.csv')

In [159]:
data.head()

,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Sale Type_Oth,Sale Type_WD,Mas Vnr Type_CBlock,Exterior 1st_PreCast,Heating_GasA,Exterior 2nd_PreCast,Roof Matl_Roll,Sale Type_VWD,Exterior 2nd_Other,Roof Matl_Metal
0,60,0.0,13517,2,1,1,6,8,1976,2005,...,0,1,0,0,0,0,0,0,0,0
1,60,43.0,11492,2,1,1,7,5,1996,1997,...,0,1,0,0,0,0,0,0,0,0
2,20,68.0,7922,1,1,1,5,7,1953,2007,...,0,1,0,0,0,0,0,0,0,0
3,60,73.0,9802,1,1,1,5,5,2006,2007,...,0,1,0,0,0,0,0,0,0,0
4,50,82.0,14235,2,1,1,6,8,1900,1993,...,0,1,0,0,0,0,0,0,0,0

In [160]:
test.head()

,Id,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Year Built,...,Sale Type_Oth,Sale Type_WD,Mas Vnr Type_CBlock,Exterior 1st_PreCast,Heating_GasA,Exterior 2nd_PreCast,Roof Matl_Roll,Sale Type_VWD,Exterior 2nd_Other,Roof Matl_Metal
0,2658,190,69.0,9142,1,1,1,6,8,1910,...,0,1,0,0,1,0,0,0,0,0
1,2718,90,0.0,9662,2,1,1,5,4,1977,...,0,1,0,0,1,0,0,0,0,0
2,2414,60,58.0,17104,2,1,1,7,5,2006,...,0,0,0,0,1,0,0,0,0,0
3,1989,30,60.0,8520,1,1,1,5,6,1923,...,0,1,0,0,1,0,0,0,0,0
4,625,20,0.0,9500,2,1,1,6,5,1963,...,0,1,0,0,1,0,0,0,0,0

In [161]:
data['SalePrice'].sort_values()

1628     12789
183      13100
1309     34900
1292     35000
1518     35311
         ...
151     556581
1796    582933
1692    584500
1964    591587
1671    611657
Name: SalePrice, Length: 2051, dtype: int64

In [162]:
# REMOVE FEATURES WHICH HAVE VERY LOW CORRELATION
data.corr()['SalePrice']

MS SubClass            -0.087335
Lot Frontage            0.181456
Lot Area                0.296566
Lot Shape               0.294542
Utilities              -0.026404
                          ...
Exterior 2nd_PreCast         NaN
Roof Matl_Roll               NaN
Sale Type_VWD                NaN
Exterior 2nd_Other           NaN
Roof Matl_Metal              NaN
Name: SalePrice, Length: 199, dtype: float64

In [163]:
corr = pd.DataFrame(data.corr()['SalePrice'])
corr[abs(corr['SalePrice'])<=0.03]

                      SalePrice
Utilities             -0.026404
BsmtFin Type 2        -0.014070
BsmtFin SF 2           0.016432
Pool Area              0.023106
Misc Val              -0.007375
Yr Sold               -0.015203
Alley_Pave            -0.014528
Lot Config_FR2        -0.014823
Lot Config_FR3         0.014352
Neighborhood_Blueste  -0.025226
Neighborhood_Gilbert   0.023974
Neighborhood_Greens    0.003476
Neighborhood_Landmrk  -0.012395
Neighborhood_SawyerW   0.016708
Condition 1_RRAn      -0.014954
Condition 1_RRNe      -0.025045
Condition 1_RRNn       0.011442
Condition 2_Norm      -0.009759
Condition 2_RRAe       0.002378
Condition 2_RRAn      -0.012421
House Style_1Story    -0.021652
House Style_2.5Unf     0.010793
Roof Style_Mansard    -0.021289
Roof Style_Shed        0.013136
Roof Matl_Membran      0.016732
Roof Matl_Tar&Grv      0.007018
Exterior 1st_AsphShn  -0.027621
Exterior 1st_BrkComm  -0.024377
Exterior 1st_BrkFace   0.026240
Exterior 1st_ImStucc   0.022446
Exterior 2nd_AsphShn  -0.023834
Exterior 2nd_BrkFace   0.010688
Exterior 2nd_Stone    -0.024642
Foundation_Stone      -0.023853
Foundation_Wood       -0.003044
Heating_OthW          -0.021969
Sale Type_CWD          0.004563
Sale Type_ConLI        0.019588

In [164]:
cols_delete = corr[abs(corr['SalePrice'])<=0.03].index.tolist()

In [165]:
new_data = data.drop(cols_delete,axis=1)
new_test = test.drop(cols_delete,axis=1)

In [166]:
#remove features with high collinearity
new_data.corr()

,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Sale Type_Oth,Sale Type_WD,Mas Vnr Type_CBlock,Exterior 1st_PreCast,Heating_GasA,Exterior 2nd_PreCast,Roof Matl_Roll,Sale Type_VWD,Exterior 2nd_Other,Roof Matl_Metal
MS SubClass,1.000000,-0.216259,-0.245484,-0.075306,-0.026752,0.035763,-0.070141,0.035983,0.044836,-0.002763,...,-0.017561,0.065929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lot Frontage,-0.216259,1.000000,0.135586,-0.174018,0.013287,0.114469,-0.032452,0.020571,0.058942,0.101672,...,-0.019941,-0.120749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lot Area,-0.245484,0.135586,1.000000,0.301763,0.166321,0.105824,-0.019185,0.036002,0.050771,0.167520,...,-0.011456,-0.025417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lot Shape,-0.075306,-0.174018,0.301763,1.000000,0.089860,0.249357,-0.077207,0.277834,0.221336,0.127835,...,0.007478,-0.017487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Land Slope,-0.026752,0.013287,0.166321,0.089860,1.000000,-0.026555,0.009082,-0.037459,-0.042802,0.014584,...,-0.009773,0.043892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Exterior 2nd_PreCast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Roof Matl_Roll,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sale Type_VWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Exterior 2nd_Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Roof Matl_Metal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
correlated_features = set()
correlation_matrix = new_data.corr()

for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > 0.8:
            colname = correlation_matrix.columns[i]
            correlated_features.add(colname)

In [168]:
len(correlated_features)

#19 highly correlated features

19

In [169]:
correlated_features

{'1st Flr SF',
 'Exterior 2nd_Brk Cmn',
 'Exterior 2nd_CmentBd',
 'Exterior 2nd_HdBoard',
 'Exterior 2nd_MetalSd',
 'Exterior 2nd_VinylSd',
 'Exterior 2nd_Wd Sdng',
 'Fireplace Qu',
 'Garage Area',
 'Garage Cond',
 'Garage Qual',
 'Garage Type_None',
 'House Style_2Story',
 'MS Zoning_RM',
 'Mas Vnr Type_None',
 'Neighborhood_Somerst',
 'Roof Style_Hip',
 'SalePrice',
 'TotRms AbvGrd'}

In [170]:
correlated_features.remove('SalePrice')

In [171]:
new_data.drop(labels=correlated_features, axis=1, inplace=True)
new_test.drop(labels=correlated_features, axis=1, inplace=True)

In [172]:
#save dataframe after feature engineering.
new_data.to_csv('datasets/train_feature_engineer.csv',index=False)
new_test.to_csv('datasets/test_feature_engineer.csv',index=False)

In [173]:
#create X and y values

In [174]:
X = new_data.drop('SalePrice',axis=1)
y = new_data['SalePrice']

In [175]:
#create polynomial features
#to check for interactions between terms

In [176]:
from sklearn.preprocessing import PolynomialFeatures

In [177]:
poly_convert = PolynomialFeatures(include_bias=False)
X_poly = poly_convert.fit_transform(X)

In [178]:
#TRAIN TEST SPLIT the data to prevent data leakage before doing Standard Scalar

In [179]:
from sklearn.model_selection import train_test_split

In [180]:
X_train, X_test, y_train, y_test = train_test_split(X_poly,y,test_size=0.3,random_state=57)

In [181]:
#STANDARD SCALAR values
from sklearn.preprocessing import StandardScaler

In [182]:
ss = StandardScaler()
ss.fit(X_train)
Z_train = ss.transform(X_train)
Z_test = ss.transform(X_test)

In [183]:
#Create the 1st model

In [184]:
from sklearn.linear_model import ElasticNetCV

In [185]:
en = ElasticNetCV(cv=3,max_iter=10000,l1_ratio=[.1, .7, .9],verbose=1,n_alphas=5)

#elastic net - considers both lasso and ridge regression
#For l1_ratio = 0 the penalty is an L2 penalty (Ridge). For l1_ratio = 1 it is an L1 penalty (Lasso). 
#Consider both penalities.

In [186]:
en.fit(Z_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
.............................................[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   12.1s finished

ElasticNetCV(cv=3, l1_ratio=[0.1, 0.7, 0.9], max_iter=10000, n_alphas=5,
             verbose=1)

In [187]:
#find best alpha and best l1_ratio

In [188]:
en.alpha_

72.10404171881626

In [189]:
en.l1_ratio_

0.9

In [190]:
#check train test score

In [191]:
en.score(Z_train,y_train)

0.9345963164929196

In [192]:
en.score(Z_test,y_test)

0.8933954190248756

In [193]:
#check train test rsme

In [194]:
y_pred_test=en.predict(Z_test)
y_pred_train=en.predict(Z_train)

In [195]:
from sklearn.metrics import mean_squared_error

In [197]:
#RSME TEST
np.sqrt(mean_squared_error(y_test,y_pred_test))

26106.372037948913

In [229]:
from joblib import load,dump
dump(en,'models/test_org.joblib')

['models/test_org.joblib']

In [198]:
#find out which coefficients are important

In [199]:
en.coef_

array([-79.33782576,  47.9470988 , 122.91174659, ...,   0.        ,
         0.        ,   0.        ])

In [200]:
coef = pd.DataFrame(en.coef_,columns=['coef'],index=poly_convert.get_feature_names(list(data.columns)))

In [201]:
coef[coef.notnull()].sort_values(by='coef')
#below are non-null coefficients

                                       coef
Year Remod/Add MS Zoning_RL     -538.133563
BsmtFin Type 1 MS Zoning_RL     -451.060842
MS Zoning_RL Roof Matl_CompShg  -436.021683
Fireplace Qu MS Zoning_RL       -401.188042
2nd Flr SF Fireplace Qu         -381.021907
...                                     ...
Electrical Neighborhood_Somerst  466.492835
Land Slope Overall Qual          487.931139
Land Slope Electrical            514.115648
Land Slope^2                     517.051205
Overall Qual Electrical          528.799355

[10295 rows x 1 columns]

In [202]:
#seems like best indicator of price is overall qual^2.

In [203]:
#try this same model but log the saleprice to make it more normally distributed

In [204]:
enlog = ElasticNetCV(cv=3,max_iter=10000,l1_ratio=[.1, .7, .9],verbose=1,n_alphas=5)

In [205]:
y_train_log = np.log(y_train)

In [206]:
enlog.fit(Z_train,y_train_log)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
.............................................[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:  3.0min finished

ElasticNetCV(cv=3, l1_ratio=[0.1, 0.7, 0.9], max_iter=10000, n_alphas=5,
             verbose=1)

In [207]:
enlog.alpha_

0.01926185723579409

In [208]:
enlog.l1_ratio_

0.1

In [209]:
y_test_log = np.log(y_test)

In [210]:
ylog_pred_test=enlog.predict(Z_test)
ylog_pred_train=enlog.predict(Z_train)

In [211]:
#RSME test
np.sqrt(mean_squared_error(np.exp(y_test_log),np.exp(ylog_pred_test)))

23573.918549606165

In [213]:
#Looks like taking the log of the sale price is better
#rsme is lower

In [230]:
dump(en,'models/test_log.joblib')

['models/test_log.joblib']

In [214]:
#test model on unseen data
#TEST ON KAGGLE

In [215]:
val_id = pd.read_csv('datasets/test_feature_engineer.csv')

In [216]:
val_id.head()

,Id,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Sale Type_Oth,Sale Type_WD,Mas Vnr Type_CBlock,Exterior 1st_PreCast,Heating_GasA,Exterior 2nd_PreCast,Roof Matl_Roll,Sale Type_VWD,Exterior 2nd_Other,Roof Matl_Metal
0,2658,190,69.0,9142,1,1,6,8,1910,1950,...,0,1,0,0,1,0,0,0,0,0
1,2718,90,0.0,9662,2,1,5,4,1977,1977,...,0,1,0,0,1,0,0,0,0,0
2,2414,60,58.0,17104,2,1,7,5,2006,2006,...,0,0,0,0,1,0,0,0,0,0
3,1989,30,60.0,8520,1,1,5,6,1923,2006,...,0,1,0,0,1,0,0,0,0,0
4,625,20,0.0,9500,2,1,6,5,1963,1963,...,0,1,0,0,1,0,0,0,0,0

In [217]:
val = val_id.drop('Id',axis=1)

In [218]:
poly_convert = PolynomialFeatures(include_bias=False)
val_poly = poly_convert.fit_transform(val)

In [219]:
Z_val = ss.transform(val_poly)

In [220]:
pred=enlog.predict(Z_val)

In [221]:
results = val_id['Id']

In [222]:
results

0      2658
1      2718
2      2414
3      1989
4       625
       ...
873    1662
874    1234
875    1373
876    1672
877    1939
Name: Id, Length: 878, dtype: int64

In [223]:
results = pd.DataFrame(results,columns=['Id'])

In [224]:
results['SalePrice'] = np.exp(pred)

In [225]:
results.sort_values(by='Id')

       Id      SalePrice
703     2  115911.299001
705     4  217386.920854
119     6  194812.264980
311     7  199813.812996
400    17  213402.280750
..    ...            ...
536  2919   79525.542198
178  2921   86903.381458
828  2922  167134.275879
668  2925  177000.418239
674  2928  126719.274761

[878 rows x 2 columns]

In [226]:
results.sort_values(by='Id').to_csv('datasets/result1.csv',index=False)

In [227]:
#test file for Kaggle