In [37]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
#open both train and test dataset
train = pd.read_csv('datasets/train_feature_engineer.csv')
test = pd.read_csv('datasets/test_feature_engineer.csv')

In [39]:
#check if data is loaded correctly
train.head()

,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Sale Type_Oth,Sale Type_WD,Roof Matl_Metal,Mas Vnr Type_CBlock,Exterior 2nd_Other,Exterior 2nd_PreCast,Sale Type_VWD,Heating_GasA,Exterior 1st_PreCast,Roof Matl_Roll
0,60,0.0,13517,2,1,6,8,1976,2005,289.0,...,0,1,0,0,0,0,0,0,0,0
1,60,43.0,11492,2,1,7,5,1996,1997,132.0,...,0,1,0,0,0,0,0,0,0,0
2,20,68.0,7922,1,1,5,7,1953,2007,0.0,...,0,1,0,0,0,0,0,0,0,0
3,60,73.0,9802,1,1,5,5,2006,2007,0.0,...,0,1,0,0,0,0,0,0,0,0
4,50,82.0,14235,2,1,6,8,1900,1993,0.0,...,0,1,0,0,0,0,0,0,0,0

In [72]:
print(list(train.columns))

['MS SubClass', 'Lot Frontage', 'Lot Area', 'Lot Shape', 'Land Slope', 'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add', 'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1', 'Bsmt Unf SF', 'Total Bsmt SF', 'Heating QC', 'Electrical', '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual', 'Functional', 'Fireplaces', 'Garage Yr Blt', 'Garage Finish', 'Garage Cars', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Fence', 'Mo Sold', 'SalePrice', 'MS Zoning_C (all)', 'MS Zoning_FV', 'MS Zoning_I (all)', 'MS Zoning_RH', 'MS Zoning_RL', 'Street_Pave', 'Alley_None', 'Land Contour_HLS', 'Land Contour_Low', 'Land Contour_Lvl', 'Lot Config_CulDSac', 'Lot Config_Inside', 'Neighborhood_BrDale', 'Neighborhood_BrkSide', 'Neighborhood_ClearCr', 'Neighborhood_CollgCr', 'Neighborhood_Crawfor', 'Neighborhood_Edwards', 'Neighborhood_GrnHill', 'Neighborhood_IDOTRR', 'Neighborhood_MeadowV', 'Neighborhood_Mitchel', 'Neighborhood_NAmes', 'Neighborhood_NPkVill', 'Neighborhood_NWAmes', 'Neighborhood_NoRidge', 'Neighborhood_NridgHt', 'Neighborhood_OldTown', 'Neighborhood_SWISU', 'Neighborhood_Sawyer', 'Neighborhood_StoneBr', 'Neighborhood_Timber', 'Neighborhood_Veenker', 'Condition 1_Feedr', 'Condition 1_Norm', 'Condition 1_PosA', 'Condition 1_PosN', 'Condition 1_RRAe', 'Condition 2_Feedr', 'Condition 2_PosA', 'Condition 2_PosN', 'Condition 2_RRNn', 'Bldg Type_2fmCon', 'Bldg Type_Duplex', 'Bldg Type_Twnhs', 'Bldg Type_TwnhsE', 'House Style_1.5Unf', 'House Style_2.5Fin', 'House Style_SFoyer', 'House Style_SLvl', 'Roof Style_Gable', 'Roof Style_Gambrel', 'Roof Matl_CompShg', 'Roof Matl_WdShake', 'Roof Matl_WdShngl', 'Exterior 1st_CBlock', 'Exterior 1st_CemntBd', 'Exterior 1st_HdBoard', 'Exterior 1st_MetalSd', 'Exterior 1st_Plywood', 'Exterior 1st_Stone', 'Exterior 1st_Stucco', 'Exterior 1st_VinylSd', 'Exterior 1st_Wd Sdng', 'Exterior 1st_WdShing', 'Exterior 2nd_CBlock', 'Exterior 2nd_ImStucc', 'Exterior 2nd_Plywood', 'Exterior 2nd_Stucco', 'Exterior 2nd_Wd Shng', 'Mas Vnr Type_BrkFace', 'Mas Vnr Type_Stone', 'Foundation_CBlock', 'Foundation_PConc', 'Foundation_Slab', 'Heating_GasW', 'Heating_Grav', 'Heating_Wall', 'Central Air_Y', 'Garage Type_Attchd', 'Garage Type_Basment', 'Garage Type_BuiltIn', 'Garage Type_CarPort', 'Garage Type_Detchd', 'Sale Type_Con', 'Sale Type_ConLD', 'Sale Type_ConLw', 'Sale Type_New', 'Sale Type_Oth', 'Sale Type_WD ', 'Roof Matl_Metal', 'Mas Vnr Type_CBlock', 'Exterior 2nd_Other', 'Exterior 2nd_PreCast', 'Sale Type_VWD', 'Heating_GasA', 'Exterior 1st_PreCast', 'Roof Matl_Roll']

In [40]:
test.head()

,Id,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Sale Type_Oth,Sale Type_WD,Roof Matl_Metal,Mas Vnr Type_CBlock,Exterior 2nd_Other,Exterior 2nd_PreCast,Sale Type_VWD,Heating_GasA,Exterior 1st_PreCast,Roof Matl_Roll
0,2658,190,69.0,9142,1,1,6,8,1910,1950,...,0,1,0,0,0,0,0,1,0,0
1,2718,90,0.0,9662,2,1,5,4,1977,1977,...,0,1,0,0,0,0,0,1,0,0
2,2414,60,58.0,17104,2,1,7,5,2006,2006,...,0,0,0,0,0,0,0,1,0,0
3,1989,30,60.0,8520,1,1,5,6,1923,2006,...,0,1,0,0,0,0,0,1,0,0
4,625,20,0.0,9500,2,1,6,5,1963,1963,...,0,1,0,0,0,0,0,1,0,0

In [41]:
train.columns

Index(['MS SubClass', 'Lot Frontage', 'Lot Area', 'Lot Shape', 'Land Slope',
       'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add',
       'Mas Vnr Area',
       ...
       'Sale Type_Oth', 'Sale Type_WD ', 'Roof Matl_Metal',
       'Mas Vnr Type_CBlock', 'Exterior 2nd_Other', 'Exterior 2nd_PreCast',
       'Sale Type_VWD', 'Heating_GasA', 'Exterior 1st_PreCast',
       'Roof Matl_Roll'],
      dtype='object', length=143)

In [42]:
test.columns

Index(['Id', 'MS SubClass', 'Lot Frontage', 'Lot Area', 'Lot Shape',
       'Land Slope', 'Overall Qual', 'Overall Cond', 'Year Built',
       'Year Remod/Add',
       ...
       'Sale Type_Oth', 'Sale Type_WD ', 'Roof Matl_Metal',
       'Mas Vnr Type_CBlock', 'Exterior 2nd_Other', 'Exterior 2nd_PreCast',
       'Sale Type_VWD', 'Heating_GasA', 'Exterior 1st_PreCast',
       'Roof Matl_Roll'],
      dtype='object', length=143)

In [55]:
#load the model
from joblib import dump,load
model = load('models/pred_model.joblib')

In [56]:
model.best_estimator_

Pipeline(steps=[('ss', StandardScaler()),
                ('en',
                 ElasticNet(alpha=0.01, l1_ratio=0.95, max_iter=10000000,
                            selection='random', warm_start=True))])

In [57]:
en = model.best_estimator_.named_steps['en']

In [58]:
#these are the coefficients that have been deemed important from GridSearchCV
en.coef_

array([-0.,  0.,  0., ...,  0.,  0.,  0.])

In [59]:
en.coef_.shape

(10295,)

In [60]:
X = train.drop('SalePrice',axis=1)
y = train['SalePrice']
X_test = test.drop('Id',axis=1)

In [61]:
from sklearn.preprocessing import PolynomialFeatures
poly_convert = PolynomialFeatures(include_bias=False)
X_poly = poly_convert.fit_transform(X)
X_test_poly = poly_convert.fit_transform(X_test)

In [62]:
X_poly.shape

(2051, 10295)

In [63]:
X_poly

array([[   60.,     0., 13517., ...,     0.,     0.,     0.],
       [   60.,    43., 11492., ...,     0.,     0.,     0.],
       [   20.,    68.,  7922., ...,     0.,     0.,     0.],
       ...,
       [   50.,    57.,  7558., ...,     0.,     0.,     0.],
       [   20.,    80., 10400., ...,     0.,     0.,     0.],
       [   60.,    60.,  7500., ...,     0.,     0.,     0.]])

In [64]:
X_test_poly.shape

(878, 10295)

In [65]:
all_coef = pd.DataFrame({'feature':poly_convert.get_feature_names(list(train.columns)),
'coef':en.coef_,
'magnitude':abs(en.coef_)})

In [66]:
coef = all_coef[all_coef['coef']!=0]
#below are non-zero coefficients

In [67]:
coef.sort_values(by='magnitude',ascending=False).head(20)

                                 feature      coef  magnitude
844              Overall Qual Year Built  0.069313   0.069313
1131              Year Built Gr Liv Area  0.058370   0.058370
996             Overall Cond Gr Liv Area  0.058281   0.058281
1116           Year Built Year Remod/Add  0.036493   0.036493
2623    Total Bsmt SF Roof Style_Gambrel  0.025040   0.025040
872             Overall Qual Garage Cars  0.024216   0.024216
1436   Mas Vnr Area Neighborhood_Crawfor -0.023337   0.023337
2171           BsmtFin Type 1 Heating QC -0.022173   0.022173
886            Overall Qual MS Zoning_RL  0.020701   0.020701
2356      BsmtFin SF 1 Condition 1_Feedr  0.018903   0.018903
4604            Garage Cars Heating_Wall  0.018435   0.018435
4033     Kitchen Qual Roof Style_Gambrel -0.014724   0.014724
732                Land Slope Fireplaces  0.013916   0.013916
4079                        Functional^2 -0.013425   0.013425
2588  Total Bsmt SF Neighborhood_Crawfor -0.012495   0.012495
3228      Gr Liv Area Roof Style_Gambrel  0.012108   0.012108
1115                        Year Built^2  0.011711   0.011711
545                Lot Area Heating_Wall  0.011473   0.011473
3373        Bsmt Full Bath Central Air_Y  0.010377   0.010377
991           Overall Cond Total Bsmt SF  0.010181   0.010181

In [73]:
# the above features have the strongest correlation to sale price
# we can see that Gr Liv Area, overall condition and year built have some of the highest positive correlations
# Misc Val and if the sale type is ConLw - this has a negative correlation to the sale price

In [74]:
# Which features appear to add the most value to a home?

# 1. Gr Liv Area: This feature high correlation on how much the house will finally sell for.
# However, this is not possible to change unless the house is remodelled.abs

# 2. Overall Cond: This feature also has a high correlation to the sale price. 
# This feature rates the overall material and finish of the house.
# This feature is slightly subjective as it has to be rated by a human.

# Most other features are hard to change as they have to do with size - this will require serious remodelling of the house

In [75]:
# What are things that homeowners could improve in their homes to increase the value?

# A simple thing a homeowner can do to increase the value of the home would be to change the Heating type to Wall
# If Heating quality is bad, it also negatively impacts the sale price

In [76]:
#take a random sample of 5 houses from our train dataset with lousy heating
heating_test = train[train['Heating QC']>=4].sample(5)

In [77]:
heating_pred = pd.DataFrame({'Heating QC':heating_test['Heating QC'],
'SalePrice':heating_test['SalePrice']})

heating_pred
#create new dataframe with heating QC and saleprice

      Heating QC  SalePrice
692            4      78000
308            4     129500
1353           4     188700
562            4      76500
16             4      98000

In [78]:
#Let's use our model to predict the SalePrice for these homes
X_ht = heating_test.drop('SalePrice',axis=1)
y_ht = heating_test['SalePrice']

poly_convert = PolynomialFeatures(include_bias=False)
poly_convert.fit(X)
X_ht_poly = poly_convert.transform(X_ht)

y_ht_pred = model.predict(X_ht_poly)

In [79]:
heating_pred['Pred SalePrice'] = np.exp(y_ht_pred)
heating_pred 
#predicted sale price and actual sale price are not too far off

      Heating QC  SalePrice  Pred SalePrice
692            4      78000    66708.179281
308            4     129500   133304.861392
1353           4     188700   167111.156000
562            4      76500    86318.653448
16             4      98000   101067.394993

In [80]:
#Assuming homeowners upgrade their heating to excellent
heating_test['Heating QC'] = 1

In [81]:
heating_test['Heating QC']

692     1
308     1
1353    1
562     1
16      1
Name: Heating QC, dtype: int64

In [82]:
#Let's use our model to predict the SalePrice for these homes which have upgraded heating
X_ht = heating_test.drop('SalePrice',axis=1)
y_ht = heating_test['SalePrice']

X_ht_poly = poly_convert.transform(X_ht)

y_ht_pred = model.predict(X_ht_poly)

In [83]:
heating_pred['NEW Heating QC'] = 1
heating_pred['NEW Pred SalePrice'] = np.exp(y_ht_pred)
heating_pred['percent increase'] = 100*((heating_pred['NEW Pred SalePrice'] - heating_pred['Pred SalePrice'])/heating_pred['Pred SalePrice'])

heating_pred

,Heating QC,SalePrice,Pred SalePrice,NEW Heating QC,NEW Pred SalePrice,percent increase
692,4,78000,66708.179281,1,71884.895395,7.760242
308,4,129500,133304.861392,1,140859.462611,5.667161
1353,4,188700,167111.156000,1,177435.593634,6.178186
562,4,76500,86318.653448,1,93448.819691,8.260284
16,4,98000,101067.394993,1,109027.312811,7.875851

In [84]:
round(heating_pred['percent increase'].mean(),2) #average percent increase in value of house
#Homeowners can consider upgrading heating to increase the SalePrice of their house

7.15

In [85]:
#Which features hurt the value of a home the most?
coef[coef['coef']<0].sort_values(by='magnitude',ascending=False).head(5)

                                 feature      coef  magnitude
1436   Mas Vnr Area Neighborhood_Crawfor -0.023337   0.023337
2171           BsmtFin Type 1 Heating QC -0.022173   0.022173
4033     Kitchen Qual Roof Style_Gambrel -0.014724   0.014724
4079                        Functional^2 -0.013425   0.013425
2588  Total Bsmt SF Neighborhood_Crawfor -0.012495   0.012495

In [86]:
#interestingly the larger the mas vnr area, the lower the price.
#houses in the neighbourhood Crawford also has a low price

#homeowners can consider renovating to increase living space and decrease the masonary area.

In [87]:
#basement finish and heating qc are also large factors that decreases the value of the house
#if the roof style is gambrel, it also decreases the price of the house

In [88]:
#to increase the value of their homes, the easiest things a homeowner can do will be (without having major renovations)
#improve their basement finished area
#improve heating
#improve kitchen quality

In [89]:
#lets run a test to see what happens if a homeowner improves their basement finish, heating qc and kitchen quality
#what is the improvement on saleprice

In [91]:
#lets get some houses which have lousy heating qc, bsmtfin type 1 and kitchen qual randomly
improvements = train[(train['Heating QC']>=4)&(train['BsmtFin Type 1']>=4)&(train['Kitchen Qual']>=4)].sample(10)

,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Sale Type_Oth,Sale Type_WD,Roof Matl_Metal,Mas Vnr Type_CBlock,Exterior 2nd_Other,Exterior 2nd_PreCast,Sale Type_VWD,Heating_GasA,Exterior 1st_PreCast,Roof Matl_Roll
700,190,70.0,5600,1,1,4,5,1930,1950,0.0,...,0,1,0,0,0,0,0,0,0,0
114,20,0.0,9000,1,1,2,2,1947,1950,0.0,...,0,1,0,0,0,0,0,0,0,0
1952,30,153.0,4118,2,3,4,4,1941,1950,0.0,...,0,1,0,0,0,0,0,0,0,0
77,30,60.0,6324,2,1,4,6,1927,1950,0.0,...,0,1,0,0,0,0,0,0,0,0
562,190,100.0,9045,1,1,5,3,1910,1950,0.0,...,0,1,0,0,0,0,0,0,0,0
76,30,0.0,17529,1,1,5,5,1924,1950,65.0,...,0,1,0,0,0,0,0,0,0,0
612,50,63.0,4761,1,1,3,3,1918,1950,0.0,...,0,0,0,0,0,0,0,0,0,0
1996,50,60.0,10320,1,1,4,5,1924,1950,0.0,...,0,1,0,0,0,0,0,0,0,0
1862,30,67.0,4853,1,1,5,6,1924,1999,203.0,...,0,1,0,0,0,0,0,0,0,0
183,20,80.0,14584,1,3,1,5,1952,1952,0.0,...,0,1,0,0,0,0,0,0,0,0

In [93]:
improv_pred = pd.DataFrame({
'Heating QC':improvements['Heating QC'],
'BsmtFin Type 1':improvements['BsmtFin Type 1'],
'Kitchen Qual':improvements['Kitchen Qual'],
'SalePrice':improvements['SalePrice']})

improv_pred

      Heating QC  BsmtFin Type 1  Kitchen Qual  SalePrice
700            4               7             4      55000
114            4               7             4      63900
1952           4               6             4      52500
77             4               6             4      68500
562            4               6             4      76500
76             4               6             4     105000
612            4               6             4      64500
1996           5               6             4     107000
1862           4               4             4     104000
183            5               7             4      13100

In [94]:
#Let's use our model to predict the SalePrice for these homes
X_i = improvements.drop('SalePrice',axis=1)
y_i = improvements['SalePrice']

poly_convert = PolynomialFeatures(include_bias=False)
poly_convert.fit(X_i)
X_poly_i = poly_convert.transform(X_i)

y_pred_i = model.predict(X_poly_i)

In [97]:
improv_pred['Pred SalePrice'] = np.exp(y_pred_i)
improv_pred
#predicted sale price and actual sale price are not too far off

      Heating QC  BsmtFin Type 1  Kitchen Qual  SalePrice  Pred SalePrice
700            4               7             4      55000    62014.134560
114            4               7             4      63900    57508.708919
1952           4               6             4      52500    63723.484605
77             4               6             4      68500    77337.991058
562            4               6             4      76500    86318.653448
76             4               6             4     105000    85125.922733
612            4               6             4      64500    60191.859798
1996           5               6             4     107000   102481.659164
1862           4               4             4     104000   118104.315809
183            5               7             4      13100    20141.415532

In [98]:
#Assuming homeowner improves their basement finish, heating qc and kitchen quality
improvements['Heating QC'] = 1 
improvements['BsmtFin Type 1'] = 1
improvements['Kitchen Qual'] = 1

In [99]:
#Let's use our model to predict the SalePrice for these homes which have made these improvements
X_i = improvements.drop('SalePrice',axis=1)
y_i = improvements['SalePrice']

X_poly_i = poly_convert.transform(X_i)

y_pred_i = model.predict(X_poly_i)

In [100]:
#comprare predicted sale price improvements
improv_pred['NEW Pred SalePrice'] = np.exp(y_pred_i)
improv_pred['percent increase'] = 100*((improv_pred['NEW Pred SalePrice'] - improv_pred['Pred SalePrice'])/improv_pred['Pred SalePrice'])

improv_pred

,Heating QC,BsmtFin Type 1,Kitchen Qual,SalePrice,Pred SalePrice,NEW Pred SalePrice,percent increase
700,4,7,4,55000,62014.134560,77353.861802,24.735856
114,4,7,4,63900,57508.708919,71590.227885,24.485890
1952,4,6,4,52500,63723.484605,78142.373965,22.627277
77,4,6,4,68500,77337.991058,91471.097113,18.274468
562,4,6,4,76500,86318.653448,105850.214246,22.627277
76,4,6,4,105000,85125.922733,104456.614015,22.708349
612,4,6,4,64500,60191.859798,73470.710739,22.060875
1996,5,6,4,107000,102481.659164,123931.411551,20.930333
1862,4,4,4,104000,118104.315809,135419.306729,14.660761
183,5,7,4,13100,20141.415532,26161.662094,29.889888

In [ ]:
#huge increase in home values

In [130]:
train.shape

(2051, 143)

In [131]:
org = pd.read_csv('datasets/train.csv')

In [132]:
org.shape

(2051, 81)